*{
    box-sizing: border-box;
}
.btn{
    position: relative;
    transition: all .2s ease-in-out;
}
.btn.active{
    background: #333;
    color: white;
}
.btn.active::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    background: #285dd1;
    bottom: -7px;
    left: 0;
}
.product{
    display: none;
    margin-top: 1rem;
}
.product.active{
    display: block;
}
