* {
 box-sizing: border-box;
}
.btn {
 position: relative;
 transition: all 0.2s ease-in-out;
}
.btn.active {
 background: #333;
 color: white;
}
.btn.active::before {
 position: absolute;
 content: "";
 width: 100%;
 height: 5px;
 background: #285dd1;
 bottom: -7px;
 left: 0;
}
#cartWrapper {
 transition: all 0.3s ease;
}

#cartWrapper.is-fixed {
 position: fixed;
 top: 0.5rem;
 z-index: 50;
 background: white;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 border-radius: 8px;
 /* 👇 Magic part: keeps cart inside the 5xl container */
 right: max(calc((100vw - 62rem) / 2), 1rem);
}

.product {
 display: none;
 margin-top: 1rem;
}
.product.active {
 display: block;
}
.drop-down-cart::-webkit-scrollbar {
 width: 6px;
 height: 6px;
}

.drop-down-cart::-webkit-scrollbar-track {
 background: #ffffff;
 border-radius: 5px;
}

.drop-down-cart::-webkit-scrollbar-thumb {
 background: #575757;
 border-radius: 5px;
}

.drop-down-cart::-webkit-scrollbar-thumb:hover {
 background: #555;
}

.drop-down-cart::-webkit-scrollbar-button {
 background: #49016b;
 border-radius: 2px;
}
.swiper-container {
 width: 100%;
max-width: 1024px;
 margin: 1rem auto;
 overflow: hidden;
 /* padding-top: 50px;
 padding-bottom: 50px; */
}

.swiper-slide {
 background-position: center;
 background-size: cover;
 width: 100%;
}

.swiper-slide img {
 display: block;
 width: 100%;
}

#inputDropDown{
  width: calc(100% - 40px);
  max-height: 0;
  overflow: hidden;
  transform: translateY(-100px) scale(0);
  opacity: 0;
  z-index: -10;
}
#inputDropDown.active{
  transform: translateY(0px) scale(1);
  max-height: 500px;
  opacity: 1;
  z-index: 10;
}
